body {
background-image: url("../img/leaves.png");
}

header {
height: 500px;
width: 100%;
margin-top: 50px;
}

buttons {
margin-top: 50px;
}
.mx-auto {
    border: 2px solid #999;
    background: rgba(250, 208, 123, 0.6);
    margin-top: 250px;
}

.summary {
border-radius: 10px; 
padding-bottom: 1vw;
padding-top: 1vw;
padding-right: 5vw;
padding-left: 5vw;
}